@media (max-width: 1024px) {
  .main-container {
	.menu-container {
	  min-width: 230px !important;
	}
	.section-container {
	  section {
		.section-content {
		  .albums {
			.album {
			  width: calc(50% - 30px) !important;
			}
		  }
		}
	  }
	}
  }
}

@media (max-width: 1210px) {
  .main-container {
	.section-container {
	  section {
		&.books {
		  .details {
			float: none;
			max-width: 300px;
			margin: 0 auto;
			display: block;
			width: 100%;
		  }
		  .sneak-peek {
			width: 100%;
		  }
		}
	  }
	}
  }
}

@media (max-width: 1380px) and (max-height: 780px) {

  .main-container {
	.section-menu {
	  width: 400px;
	  min-width: 230px;
	  height: 110px;
	  .menu-item {
		line-height: 23px;
		font-size: 23px;
		padding: 10px 0;
		&:first-of-type {
		  margin-top: 44px;
		}
	  }
	}
	.menu-container {
	  ul.menu {
		top: calc(50% + 67px);
	  }
	}
	.section-container {
	  section {
		.section-content {
		  padding: 100px 40px;
		}
	  }
	}
  }
}

@media (max-height: 900px) {
  .main-container {
	.menu-container {
	  ul.menu {
		li {
		  width: 60px;
		  height: 60px;
		  margin-bottom: 15px;
		  line-height: 52px;
		  img {
			height: 25px;
			vertical-align: middle;
		  }
		  &:after {
			height: 17px;
			margin: 6px auto;
		  }
		}
	  }
	}
  }
}