* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: Montserrat, SansSerif;

  &#loading {
	.page-loader-container {
	  display: block;
	  .loading-screen {
		&.loading-screen {
		  left: 0;
		}
	  }
	}
	.menu-container {
	  left: -350px;
	}
	.section-menu {
	  opacity: 0;
	}
  }

  &.single-album {
	.section-menu {
	  min-width: 200px;
	}
  }
}

a {
  text-decoration: none;
  &.btn {
	color: #ffffff;
	border-radius: 50px;
	padding: 7px 50px;
	min-width: 190px;
	display: inline-block;
	text-align: center;
	&.btn-fullwidth {
	  width: 100%;
	}
  }
}

@keyframes loading-animation {
  from {
	width: 10px;
  }
  to {
	width: 100%;
  }
}

.page-loader-container {
  position: fixed;
  top: 0;
  z-index: 999;
  height: 100%;
  height: 100vh;
  width: 100%;
  width: 100vw;
  .loading-screen {
	background: white;
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	&:after {
	  content: '';
	  width: 0px;
	  height: 1px;
	  background: black;
	  position: absolute;
	  top: 50%;
	  z-index: 9999;
	  display: block;
	  transform: translateY(-50%);
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  -webkit-animation: loading-animation 10s;
	  -o-animation: loading-animation 10s;
	  animation: loading-animation 10s;
	}
	&.loading-screen:after {
	  left: 0;
	}
	&.active {
	  background: transparent;
	  -webkit-transition: left 0.7s;
	  -moz-transition: left 0.7s;
	  -ms-transition: left 0.7s;
	  -o-transition: left 0.7s;
	  transition: left 0.7s;

	  &:after {
		background: transparent;
		width: 100%;
		-webkit-animation: none;
		-o-animation: none;
		animation: none;
		-webkit-transition: background 0.2s;
		-moz-transition: background 0.2s;
		-ms-transition: background 0.2s;
		-o-transition: background 0.2s;
		transition: background 0.2s;
	  }
	}
  }
}

.accordion {
  .tab {
	i.fa-arrow-down {
	  position: relative;
	  -webkit-transform: rotate(0deg);
	  -moz-transform: rotate(0deg);
	  -ms-transform: rotate(0deg);
	  -o-transform: rotate(0deg);
	  transform: rotate(0deg);
	}
	&.active {
	  i.fa-arrow-down {
		-webkit-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
		-o-transform: rotate(180deg);
		transform: rotate(180deg);
	  }
	}
	.more {
	  border-color: black;
	  border-bottom: 1px solid;
	  padding: 10px 20px;
	  border-right: 1px solid;
	  margin-bottom: 30px;
	  font-style: italic;
	  cursor: pointer;
	}
	.content {
	  display: none;
	}
  }
}

.main-container {
  display: flex;
  display: -webkit-flex;
  .menu-container {
	position: relative;
	min-width: 300px;
	max-width: 350px;
	overflow: hidden;
	height: 100vh;
	left: 0px;
	-webkit-transition: left 1s ease-in-out;
	-moz-transition: left 1s ease-in-out;
	-ms-transition: left 1s ease-in-out;
	-o-transition: left 1s ease-in-out;
	transition: left 1s ease-in-out;

	.site-title {
	  position: absolute;
	  top: 20px;
	  right: 20px;
	  font-size: 30px;
	  color: white;
	  text-transform: uppercase;
	  width: 170px;
	  text-align: right;
	  line-height: 35px;
	  a {
		color: white;
	  }
	}

	ul.menu {
	  margin: 0;
	  position: absolute;
	  top: 50%;
	  right: 30px;
	  -webkit-transform: translateY(-50%);
	  -moz-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  -o-transform: translateY(-50%);
	  transform: translateY(-50%);
	  li {
		list-style: none;
		width: 70px;
		height: 70px;
		line-height: 80px;
		text-align: center;
		border-radius: 50%;
		border: 2px solid white;
		margin-bottom: 30px;
		cursor: pointer;

		&:after {
		  content: '';
		  background: white;
		  width: 2px;
		  height: 32px;
		  display: block;
		  margin: -14px auto;
		}
		&:last-of-type:after {
		  display: none;
		}
		img {
		  height: 30px;
		}

	  }
	}

	a.back {
	  position: absolute;
	  bottom: 30px;
	  left: 50%;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  border: 2px solid white;
	  padding: 10px 40px;
	}

	> img {
	  position: absolute;
	  left: 50%;
	  top: 0;
	  right: 0;
	  min-width: 100%;
	  min-height: 100%;
	  height: 100%;
	  width: auto;
	  z-index: -1;
	  opacity: 0;
	  -webkit-transform: translateX(-50%);
	  -moz-transform: translateX(-50%);
	  -ms-transform: translateX(-50%);
	  -o-transform: translateX(-50%);
	  transform: translateX(-50%);
	  transition: opacity .4s ease-in-out;
	  -webkit-transition: opacity .4s ease-in-out;
	  &.active {
		opacity: 1;
		transition: opacity .8s ease-in-out;
		-webkit-transition: opacity .8s ease-in-out;
	  }
	}
  }

  .section-menu {
	min-width: 350px;
	align-self: center;
	padding: 0 0 0 30px;
	font-size: 30px;
	height: 150px;
	overflow: hidden;
	position: relative;
	opacity: 1;
	-webkit-transition: opacity 1.5s ease-in-out;
	-moz-transition: opacity 1.5s ease-in-out;
	-ms-transition: opacity 1.5s ease-in-out;
	-o-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;

	&:after {
	  content: '';
	  background: -moz-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.05) 300%); /* ff3.6+ */
	  background: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.05) 300%); /* safari5.1+,chrome10+ */
	  background: -o-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.05) 300%); /* opera 11.10+ */
	  background: -ms-linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.05) 300%);
	  background: linear-gradient(0deg, white 0%, rgba(255, 255, 255, 0.05) 300%);
	  display: block;
	  height: 40px;
	  width: 100%;
	  position: absolute;
	  bottom: 0px;
	  cursor: pointer;
	}
	&:before {
	  content: '';
	  background: -moz-linear-gradient(90deg, rgba(255,255,255,0.05) -200%, rgba(255, 255, 255, 1) 100%); /* ff3.6+ */
	  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0.05) -200%, rgba(255, 255, 255, 1) 100%); /* safari5.1+,chrome10+ */
	  background: -o-linear-gradient(90deg, rgba(255,255,255,0.05) -200%, rgba(255, 255, 255, 1) 100%); /* opera 11.10+ */
	  background: -ms-linear-gradient(90deg, rgba(255,255,255,0.05) -200%, rgba(255, 255, 255, 1) 100%); /* ie10+ */
	  background: linear-gradient(0deg, rgba(255,255,255,0.05) -200%, rgba(255, 255, 255, 1) 100%); /* w3c */
	  display: block;
	  height: 40px;
	  width: 100%;
	  position: absolute;
	  top: 0px;
	  cursor: pointer;
	  z-index: 1;
	}

	.menu-item {
	  line-height: 23px;
	  cursor: pointer;
	  position: relative;
	  padding: 20px 0;
	  transition: margin-top 1s ease-in-out;
	  -webkit-transition: margin-top 1s ease-in-out;

	  &:first-of-type {
		padding-top: 0px;
		margin-top: 62px;
	  }

	  a {
		color: #000;
	  }
	}
  }

  .section-container {
	height: 100vh;
	overflow-y: scroll;
	width: 100%;

	section {
	  opacity: 1;
	  position: relative;
	  min-height: 100vh;
	  display: flex;
	  display: -webkit-flex;
	  height: auto;
	  width: 100%;
	  align-items: center;
	  -webkit-transition: opacity 0.5s ease-in-out;
	  -moz-transition: opacity 0.5s ease-in-out;
	  -ms-transition: opacity 0.5s ease-in-out;
	  -o-transition: opacity 0.5s ease-in-out;
	  transition: opacity 0.5s ease-in-out;

	  &.hidden {
		opacity: 0;
	  }

	  .section-content {
		padding: 140px 60px;
		height: auto;
		width: 100%;
		position: relative;
		line-height: 28px;
		font-weight: 300;
		max-width: 1000px;
		margin: 0 auto;

		&.text {
		  text-align: center;
		}

		h1 {
		  text-align: center;
		  margin: 0px auto 40px 0;
		  border-bottom: 1px solid #a6a6a6;
		  padding-bottom: 30px;
		}

		img {
		  &.alignright {
			float: right;
			padding: 0 0 20px 20px;
		  }
		  &.alignleft {
			float: left;
			padding: 20px 20px 0 0;
		  }
		}

		.albums {
		  display: flex;
		  display: -webkit-flex;
		  justify-content: space-between;
		  -webkit-justify-content: space-between;
		  flex-wrap: wrap;
		  -webkit-flex-wrap: wrap;

		  .album {
			display: block;
			width: calc(33.3333333% - 30px);
			height: auto;
			background-size: cover;
			background-position: center center;
			margin-bottom: 30px;
			margin-right: 30px;
			position: relative;

			&:before {
			  content: '';
			  padding-bottom: 100%;
			  display: block;
			}

			> h2 {
			  margin: 0;
			  display: block;
			  position: absolute;
			  top: 50%;
			  -webkit-transform: translate(-50%, -50%);
			  -moz-transform: translate(-50%, -50%);
			  -ms-transform: translate(-50%, -50%);
			  -o-transform: translate(-50%, -50%);
			  transform: translate(-50%, -50%);
			  left: 50%;
			  color: #fff;
			}

		  }
		  .photos {
			display: none;

			a.photo {

			  > div {
				display: inline-block;
				width: 100px;
				height: 100px;
				background-position: center;
				background-size: cover;
			  }
			}
		  }
		}
	  }
	  &.books {
		.details {
		  width: 35%;
		  display: inline-block;
		  float: left;
		  padding: 0 40px 0 0;
		  img.book-cover {
			width: 100%;
		  }
		}
		.sneak-peek {
		  width: 65%;
		  display: inline-block;
		}
	  }
	  &.contact {
		.section-content {
		  padding: 140px 60px 100px 60px;
		}
		.content {
		  border-bottom: 1px solid black;
		  margin-bottom: 70px;
		  .social-media {
			padding: 10px 0px 30px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			a {
			  color: #000;
			  min-width: 200px;
			  margin-bottom: 15px;
			  img.social-media-icon {
				width: 30px;
				vertical-align: middle;
				margin-right: 10px;
			  }
			}
		  }
		}
		form {
		  span.wpcf7-not-valid-tip {
			border: 2px solid #f00;
			padding: 5px 10px;
			margin-bottom: 10px;
		  }
		  div.wpcf7-validation-errors {
			margin-top: 0;
			top: -60px;
			margin-bottom: -60px;
		  }
		  label {
			font-weight: 300;
			color: #8f8f8f;
			font-size: 0.8em;
		  }
		  > .row {
			display: flex;
			justify-content: space-between;
			> * {
			  width: 47%;
			}
		  }
		  > div {
			position: relative;
			div, input, textarea {
			  width: 100%;
			}
		  }
		  input, textarea {
			border: none;
			border-bottom: 1px solid black;
			outline: none;
			-webkit-appearance: none;
			margin-bottom: 30px;
			padding: 10px 0 16px 0;
			font-size: 1em;
			&[type=submit] {
			  border: 2px solid black;
			  border-radius: 60px;
			  position: absolute;
			  width: 170px;
			  background: white;
			  color: black;
			  bottom: 29px;
			  right: 30px;
			  font-size: 16px;
			}
		  }
		}
	  }
	}

  }

}

